.background, .background-light {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 95vh;
    background-color: #121212;
    color: white;
    &-light {
        background-color: #bebaba;
        color: #202020;
    }
}
